@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  font-size: 14pt;
  color: white;
  background: theme('colors.gray.900');
}

a {
  color: theme('colors.sky.400');
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
}

ul {
  list-style: circle;
  list-style-position: inside;
}

ul ul {
  padding-left: 2rem;
}

* {
  box-sizing: border-box;
}

::-moz-selection {
  background: theme('colors.sky.400');
  text-shadow: none;
  color: white;
}

::selection {
  background: theme('colors.sky.400');
  text-shadow: none;
  color: white;
}

h2 {
  font-weight: 700;
  font-size: 16pt;
}

p {
  font-size: 13pt;
}

blockquote {
  position: relative;
  margin: 1rem 0 1rem 0;
  padding: 0 0 0 1rem;
  border-left: 0.2em solid theme('colors.sky.400');
}

.CS6375 {
  font-family: 'Montserrat', sans-serif;
}